{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="all-auth-container h-100 w-100 scrollable-div">
    <div class="user_card">
        <div class="brand_logo_container">
            <img src="https://coursereport-s3-production.global.ssl.fastly.net/uploads/school/logo/222/original/code-20institute-20600-20logo.png" class="brand_logo" alt="Logo">
        </div>
        <div class="py-2 px-3 m-auto justify-content-between text-center">
            <h2>Contact Us</h2>
            <hr>
            {% if message %}
                <p class="p-3{% if message %} bg-danger text-white{% else %} bg-success text-white{% endif %}"> Error: {{ message }}</p>
            {% else %}
                <p>Have a question or feedback? Fill out the form below to get in touch with us.</p>
            {% endif %}

            <form method="post" action="{% url 'contact' %}">
              {% csrf_token %}
              {{ form.as_p }}
              <button class="btn btn-success" type="submit">Submit</button>
            </form>
            <a class="btn-info btn mt-5 nav-link logo" href="{% url 'channels' %}">Back To Homepage</a>
        </div>
    </div>
</div>


{% endblock %}

