{% load static %}
{% load emoji_tags %}

{% for single_post in posts %}
    <!--- Post -->
    <div class="card post{{ single_post.id }}">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex justify-content-between align-items-center">
                    <!-- Profile picture -->
                    <div class="mr-2">
                        {% if single_post.created_by.userprofile and single_post.created_by.userprofile.profile_picture %}
                            <img class="rounded-circle" width="45" src="{{ single_post.created_by.userprofile.profile_picture.url }}" alt="Profile Picture">
                        {% else %}
                            <img class="rounded-circle" width="45" src="{% static 'noimage.png' %}" alt="Profile Picture Placeholder">
                        {% endif %}
                    </div>
                    <!-- Username and date -->
                    <div class="ml-2 ">
                        <div class="h5 m-2">{{ single_post.created_by }}</div>
                        <div class="text-muted h7 ml-2"> <i class="fa fa-clock-o"></i>{{ single_post.created_date|date:"H:i, b j"|upper }}</div>
                    </div>
                </div>
                <div>
                    <!-- Dropdown menu -->
                    <div class="dropdown">
                        <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-ellipsis-h"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right custom-box" aria-labelledby="gedf-drop1">
                            <button class="dropdown-item btn-ci save-post-btn" data-save-post-url="{% url 'save_post' single_post.id %}">Remove</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Card body text and images -->
        <div class="card-body">
            <div class="card-text">
                {{ single_post.post|safe }}
            </div>
            {% if single_post.images %}
                <div class="post-images">
                    {% for image_url in single_post.get_image_urls %}
                        {% if image_url %}
                            <img src="{{ image_url }}" style="width: 200px; ">
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="card-footer d-block d-sm-flex justify-content-between align-items-center">
            <div class="card-link">
                <a href="{% url 'saved-post' single_post.post_channel.id single_post.id %}" class="view-in-channel">view in channel</a>
            </div> 
        </div>
    </div>
{% endfor %}