/* //////////////////////   channels styles ///////////////////////  */
/* style for channels list */
.channels-list { 
    border-right: 2px solid var(--ci-orange);
    width: 300px;
    padding: 50px 50px;
    z-index: 1;
}

/* //////////////////////   Comments,Posts section styles ///////////////////////  */
.posts-container {
    position: relative;
    height: 100%;
    z-index: 2;
}

.comments-container {
    position: relative;
    display: none;
    border-left: 1px solid var(--ci-orange);
    width: 30%;
    height: 100%;
    z-index: 3;
}


/* makes the post container full size even if there are no posts */
#posts-ul, #comments-ul {
    height: fit-content;
    min-height: 100vh;
    padding: 20px 0;
}

/* Style for the post item */
.post-item {
    border: 1px solid #ddd;
    padding: 5%;
    margin: 5px 0;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    height: fit-content;  
    width: 90%; 
    max-width: 90%;
    overflow-wrap: break-word;
}


/* Style for the post header (user name and date) */
.post-header {
    align-items: baseline;
}
.post-header img {
    width: 80px; 
    height: 80px; 
    border-radius: 50%; 
    object-fit: cover; 
}



.post-header p {
    font-size: smaller;
}

/* Style for the post content */
.post-content {
    font-size: 1em;
    width: 100%;
    max-width: 700px;
}

/* post images */
.post-content p img {
    width: 30px;
    height:30px;
}



/* ///////////////// CSS to style the add to channel overlay  ////////////////////*/
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black overlay */
    z-index: 10; /* Ensure it's above other elements */
    backdrop-filter: blur(5px); /* Apply the blur effect */
    
}

/* CSS to style the "Add Channel" button on the overlay */
#add-channel-button {
    position: absolute;
    top: 50%;
    left: 50%;
}



/* /////////////////////// media queries ///////////////////////// */

/* CSS for small screens (up to the "lg" breakpoint) */
@media (max-width: 575px) {
    /* style for channels list */
    .channels-list { 
        margin: 0 auto;
        height: 100vh;
        border-right: none;
        width: 100%;
        padding: 100px 50px;
        text-align: center;
    }

    .hide {
        display: none;
    }

    .comments-container {
        display: none;
        border-left: none;
        width: 100%;
    }

}