/* //////////////////////   channels styles ///////////////////////  */
/* style for channels list */
.channels-list { 
    border-right: 2px solid var(--ci-orange);
    width: 300px;
    background: #fcfcfc;
}

.single {
    padding: 20px 10px;
    margin: 30px 0;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.pull-right {
    float: right;
}
    
.single h3.side-title {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-size: 20px;
    color: #333;
    text-transform: uppercase; 
}
    
.single h3.side-title:after {
    content: '';
    width: 100%;
    height: 1px;
    background: #ff173c;
    display: block;
    margin-top: 6px; 
}
    
.single ul {
    margin-bottom: 0; 
}

.single li a {
    color: #666;
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 1px solid #f0f0f0;
    line-height: 40px;
    display: block;
    text-decoration: none; 
}

.single li:last-child a {
    border-bottom: 0; 
}

/* //////////////////////   Comments,Posts section styles ///////////////////////  */
.posts-container {
    position: relative;
    height: 100%;
    z-index: 2;
    background-color: var(--background);
}

.comments-container {
    position: relative;
    display: none;
    border-left: 1px solid var(--ci-orange);
    width: 400px;
    height: 100%;
    z-index: 3;
    background-color: var(--background);
    resize: horizontal; /* Allow horizontal resizing */
}

.h7 {
    font-size: 0.8rem;
}

.gedf-wrapper {
    margin-top: 0.97rem;
}

.gedf-card {
    margin: 20px 30px;
}

.post-images {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;

}

.post-images img {
    max-width: 80%;
    display: block;
    margin: 30px 0 5px;
    border-radius: 10px;

}

/**Reset Bootstrap*/
.dropdown-toggle::after {
    content: none;
    display: none;
}


.smiley-plus-icon::before {
    color: var(--ci-orange); 
    position: relative; 
    top: -.5em; 
    left: -.5em;
    background-color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: none;
    margin: none;
}

.emoji-user-count-modal {
    position: absolute;
    bottom: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    
}

.added-emoji-btn .emoji {
    width: 25px;
    height: 25px;
}
.added-emoji-btn {
    border: 2px solid var(--ci-orange);
    border-radius: 30%;
    background-color: var(--background);
    padding: 0;
    width: 55px;
    height: 40px;
}


/* ///////////////// CSS to style the add to channel overlay  ////////////////////*/
#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black overlay */
    z-index: 10; /* Ensure it's above other elements */
    backdrop-filter: blur(5px); /* Apply the blur effect */
}

/* CSS to style the "Add Channel" button on the overlay */
#add-channel-button {
    position: absolute;
    top: 50%;
    left: 50%;
}


/* /////////////////////// media queries ///////////////////////// */

/* CSS for small screens (up to the "lg" breakpoint) */
@media (max-width: 575px) {
    /* style for channels list */
    .channels-list { 
        margin: 0 auto;
        height: 100vh;
        border-right: none;
        width: 100%;
        padding: 100px 50px;
        text-align: center;
    }

    .hide {
        display: none;
    }

    .comments-container {
        display: none;
        border-left: none;
        width: 100%;
    }
    .channels-list {
        padding: 0 0;
       }

}

@media (min-width: 992px) {
    .gedf-main {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .gedf-card {
        margin-bottom: 2.77rem;
    }
}