/* //////////////////////   channels styles ///////////////////////  */
/* style for channels list */
.channels-list { 
    border-right: 2px solid var(--ci-orange);
    width: 300px;
    padding: 50px 50px;
    z-index: 1;
}

/* //////////////////////   Comments,Posts section styles ///////////////////////  */
.posts-container {
    position: relative;
    height: 100%;
    z-index: 2;
}

.comments-container {
    position: relative;
    display: none;
    border-left: 1px solid var(--ci-orange);
    width: 30%;
    height: 100%;
    z-index: 3;
}

.h7 {
    font-size: 0.8rem;
}

.gedf-wrapper {
    margin-top: 0.97rem;
}

.gedf-card {
    margin: 20px 30px;
}

.post-images {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;

}

.post-images img {
    max-width: 80%;
    display: block;
    margin: 30px 0 5px;
    border-radius: 10px;

}



/**Reset Bootstrap*/
.dropdown-toggle::after {
    content: none;
    display: none;
}



/* ///////////////// CSS to style the add to channel overlay  ////////////////////*/
#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black overlay */
    z-index: 10; /* Ensure it's above other elements */
    backdrop-filter: blur(5px); /* Apply the blur effect */
}

/* CSS to style the "Add Channel" button on the overlay */
#add-channel-button {
    position: absolute;
    top: 50%;
    left: 50%;
}



/* /////////////////////// media queries ///////////////////////// */

/* CSS for small screens (up to the "lg" breakpoint) */
@media (max-width: 575px) {
    /* style for channels list */
    .channels-list { 
        margin: 0 auto;
        height: 100vh;
        border-right: none;
        width: 100%;
        padding: 100px 50px;
        text-align: center;
    }

    .hide {
        display: none;
    }

    .comments-container {
        display: none;
        border-left: none;
        width: 100%;
    }

}

@media (min-width: 992px) {
    .gedf-main {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .gedf-card {
        margin-bottom: 2.77rem;
    }
}