{% load static %}
{% load emoji_tags %}
<div>
<div class="comments-header border-bottom custom-box d-flex flex-dir-row">
    <button class="btn comments-close-btn"><i class="fa-solid fa-x" style="color: var(--ci-orange);"></i></button>
    <div class="ml-3 my-0">
        <h4>Comments</h4>
        <p>Comment in {{ post.post_channel.name }}</p>
    </div>
    
</div>    

 <!-- list for channels posts -->
 <div class="scrollable-div" style="background-color: #e7effd;"> 
    <div class="card gedf-card m-1">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="mr-2">
                        {% if post.created_by.user_profile and post.created_by.user_profile.profile_picture %}
                            <img  class="rounded-circle" width="45"  src="{{ post.created_by.user_profile.profile_picture.url }}" alt="Profile Picture">
                        {% else %}
                            <img  class="rounded-circle" width="45" src="{% static 'noimage.png' %}" alt="Profile Picture Placeholder">
                        {% endif %}                    
                    </div>
                    <div class="ml-2">
                        <div class="h5 ml-2">{{ post.created_by }}</div>
                        <div class="text-muted h7 ml-2"> <i class="fa fa-clock-o"></i>{{ post.created_date|date:"H:i" }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <p class="card-text">
                {{ post.post|safe }}
            </p>
            {% if post.images %}
                <div class="post-images">
                    {% for image_url in post.get_image_urls %}
                    {% if image_url %}
                        <img src= "{{ image_url }}">
                    {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="card-footer d-flex justify-content-between align-items-center">
            <div id="post-emoji" class="card-link">
                <ul class="list-inline m-0 p-0 emoji-list{{ single_post.id }}">
                    <a data-post-id="{{ single_post.id }}" href="" class="post-emoji-btn card-link"><i class="fa-regular fa-face-smile fa-lg" style="color: #f58a32;"></i><i class="smiley-plus-icon fa-solid fa-plus fa-xs"></i></a>
                
                    <!-- Loop through your emojis and generate list items -->
                    {% for emoji in post.emojis.all %}
                    <li class="list-inline-item mr-2">
                        <button class="added-emoji-btn btn" data-post-url="{% url 'post_emoji' post.id %}" data-post-emoji-list=".emoji-list{{ single_post.id }}" data-target="#emojiModal{{ emoji.id }}" data-emoji-code="{{ emoji.emoji_colon_name }}">
                        {{ emoji.emoji_colon_name|emoji_replace }}
                        <span>
                            {% if emoji.users_who_incremented.all|length > 1 %}
                                {{ emoji.users_who_incremented.all|length }}
                            {% endif %}
                        </span>
                        </button>
                        <!-- Small Box Modal -->
                        <div class="emoji-user-count-modal d-none" id="emojiModal{{ emoji.id }}">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="emojiModalLabel">{{ emoji.emoji_colon_name|emoji_replace }}</h5>
                                    </div>
                                    <div class="modal-body">
                                        <p> {% for emoji_creators in emoji.users_who_incremented.all %}
                                                {{ emoji_creators }}
                                            {% if emoji.users_who_incremented.all|length == 2 and forloop.counter == 1 %}
                                                and 
                                            {% elif emoji.users_who_incremented.all|length > 2 %}
                                                {% if forloop.counter < emoji.users_who_incremented.all|length|add:"-1" %}
                                                    ,
                                                {% else %}
                                                    and
                                                {% endif %}
                                            {% endif %}                                        
                                              
                                            {% endfor %}
                                            reacted with  {{ emoji.emoji_colon_name }}</p>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    {% if comments|length > 0 %}
        <div class="border-bottom border-top py-3">
            <p class="ml-3">{{ comments|length }} {% if comments|length > 1 %}replies {% else %} reply {% endif %}</p>
        </div>
    {% endif %}


    {% for comment in comments %}
        <div class="container my-2 py-2 text-dark m-0">
            <div class="row d-flex ">
                <div class="col-12">                       
                    <div class="card w-100">
                        <div class="card-body p-2">
                            <div class="d-flex flex-column my-2">
                                <div class="d-flex flex-dir-row">
                                    {% if comment.created_by.user_profile and post.created_by.user_profile.profile_picture %}
                                        <img  class="rounded-circle shadow-1-strong mr-2" width="45" height="45"  src="{{ comment.created_by.user_profile.profile_picture.url }}" alt="Profile Picture">
                                    {% else %}
                                        <img  class="rounded-circle shadow-1-strong mr-2" width="45" height="45" src="{% static 'noimage.png' %}" alt="Profile Picture Placeholder">
                                    {% endif %}  
                                    <div class="d-flex flex-column">
                                        <h5 class="mb-1">{{ comment.created_by }}</h5>
                                        <p class="small">{{ comment.created_date|date:"H:i" }}</p>
                                    </div>
                                </div>
                                <div class="w-100 px-2 my-3">
                                    <p>
                                        {{ comment.post|safe }}
                                    </p>
                                </div>
                                <div class="d-flex justify-content-between align-items-center px-2">
                                        <a href="#!" class="link-muted me-2"><i class="fas fa-thumbs-up me-1"></i>132</a>
                                        <a href="#!" class="link-muted"><i class="fas fa-thumbs-down me-1"></i>15</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}   
</div>
</div>

<div class="post-summernote d-sm-flex d-lg-flex px-1">
    {# include summernote editor if channel.id is not None #}
        {% include 'includes/summernote.html' %}
</div>
<script>

    $(".comments-close-btn").click(function(event) {
        if(window.innerWidth < 575){
            $('#channel-posts').toggleClass('d-flex');
        }
        $('#post-comments').removeClass('d-flex');

    });
    //websocketInit(`wss://${window.location.host}/ws/post_comments/{{ post.id }}/`); 

    summernoteEnhancerComments.init('#post-comments', `{% url 'post_comments' post.id %}`)  
</script>
