{% extends "base.html" %}
{% load static %}

<!-- groupchat app css links -->
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'group_chat/css/home.css' %}">
{% endblock %}

{% block content %}
<div class="w-100 h-100 d-flex flex-dir-row">
    <!-- container for the channels list -->
    <div id="channel-links-container" class="channels-list scrollable-div">
        <div class="row mx-0">
            <div class="col-sm-12">    
                <!-- channels list -->
                <div class="single category">
                    <h3 class="side-title ">Channels
                        <button aria-label="toggle channels list" data-target=".channels" class="btn toggleLinksButton pull-right p-0">
                            <i class="fa-solid fa-greater-than fa-rotate-90"></i>
                        </button>
                    </h3>
                    <ul class="list-unstyled channels">
                        {% for channel in channels %}
                            <li data-channel-id="{{ channel.id }}">
                                <a class="text-left channel-link btn-ci w-100 {% if last_viewed_channel_id == channel.id %}active{% endif %}" 
                                href="{% url 'channel_posts' channel.id %}">#{{channel.name}}
                                    <span class="pull-right">
                                        {% for key, value in user_statuses.items %}
                                            {% if key == channel.id %}
                                                {% if channel.latest_post.created_date > value %}
                                                    <span class="unread-indicator"><i class="fa-regular fa-message" style="color: #db0000;"><p>New</p></i></span>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                        <i class="fa-solid fa-user-group"></i> {{ channel.users.count }}
                                    </span>
                                </a>
                            </li>
                        {% endfor %}                        
                    </ul>
                </div>
                <div class="single category">
                    <h3 class="side-title">New Messages
                        <button aria-label="toggle messages list" data-target=".messages" class="btn toggleLinksButton pull-right p-0">
                            <i class="fa-solid fa-greater-than fa-rotate-90"></i>
                        </button>
                    </h3>
                    <ul class="list-unstyled messages">
                        {% if unread_messages %}
                            {% for message in unread_messages %}
                                <li>
                                    <a class="btn-ci" href="{% if message.sender == user %}{% url 'new_message' message.receiver.id %}{% else %}{% url 'new_message' message.sender.id  %}{% endif %}">

                                        <img class="rounded-circle profile-pic-small" src="{% if message.sender == user %}{{ message.receiver.userprofile.profile_picture.url }}{% else %}{{ message.sender.userprofile.profile_picture.url }}{% endif %}" alt="Profile Picture">
                                        <span class="mr-1 {% if single_post.created_by.userprofile.status == 'active' %} user-online {% else %} user-offline {% endif %}">
                                        </span>
                                        {% if message.sender == user %}{{ message.receiver }}{% else %}{{ message.sender }}{% endif %}
                                    </a>
                                </li>
                            {% endfor %}  
                        {% else %}  
                            <li>
                                <h>No New Messages</h>
                            </li>
                        {% endif %} 
                    </ul>
                </div>
            </div> 
        </div>
    </div>
    <!-- container where posts get loaded into with ajax -->
    <div id="channel-posts" class="posts-container w-100 flex-column"></div>

    <!-- container where comments get loaded into with ajax -->
    <div id='post-comments' class ="comments-container flex-column justify-content-between"></div>

</div>
{% endblock %}


{% block postloadjs %}
    <!-- group chat app scripts  -->
    <script src="{% static 'group_chat/js/postsAndComments.js' %}"></script>
    <script src="{% static 'group_chat/js/channels.js' %}"></script>


    <script>     

    $(document).ready(function() {
        {% if logged_in %}
            displayMessage({'status': 'success', 'message': '{{ user }} logged in successfully'}, 'body')
        {% endif %}
        currentUser = '{{ user }}'
        // check if the id for the channel the user last visited exists
        // if it does load posts
        {% if last_viewed_channel_id %}
            if(window.innerWidth > 991.98){
                let lastViewedurl = `{% url 'channel_posts' last_viewed_channel_id %}`
                ajaxRequest(lastViewedurl, 'GET', '#channel-posts', null, function(response){
                    $('#channel-posts').html(response)
                    autoScroll()
                })
                $('#channel-posts').addClass('d-flex');
            }
        {% elif channel_id and post_id %}
            let savedPostChannel = `{% url 'channel_posts' channel_id post_id %}`

            ajaxRequest(savedPostChannel, 'GET', '#channel-posts', null, function(response){
                $('#channel-posts').html(response)
                autoScroll(null, {{ post_id }})

            })
            if(window.innerWidth < 991.98){
                $('#nav-bar').addClass('d-none')
                $('header').addClass('d-none')
                $('#channel-links-container').addClass('d-none');
            }
            
            $('#channel-posts').addClass('d-flex');
        {% else %}
            $(`[data-channel-id={{channel_id}}] .channel-link`).click();
        {% endif %}
    });

    </script>

{% endblock %}