{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'group_chat/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'group_chat/css/summernote.css' %}"> 
    <link href="{% static 'group_chat/css/emoji.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="w-100 h-100 d-flex flex-dir-row">
    <!-- container for the channels list -->
    <div id="channel-links-container" class="channels-list scrollable-div">
        <div class="row mx-0">
            <div class="col-sm-12">    
                <!-- Category -->
                <div class="single category">
                    <h3 class="side-title ">Channels<button data-target=".channels" class="btn toggleLinksButton pull-right p-0"> <i class="fa-solid fa-greater-than fa-rotate-90"></i></button></h3>
                    </h3>
                    <ul class="list-unstyled channels ">
                        {% for channel in channels %}
                            <li>
                                <a class="channel-link btn-ci w-100" href="{% url 'channel_posts' channel.id %}">#{{channel.name}}
                                    <span class="pull-right">
                                        {% for key, value in user_statuses.items %}
                                            {% if key == channel.id %}
                                                {% if channel.latest_post.created_date > value %}
                                                    <span class="unread-indicator"><i class="fa-regular fa-message" style="color: #db0000;"><p>New</p></i></span>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                        <i class="fa-solid fa-user-group"></i> {{ channel.users.count }}
                                    </span>
                                </a>
                            </li>
                        {% endfor %}                        
                    </ul>
                </div>
                <div class="single category">
                    <h3 class="side-title">Messages<button data-target=".messages" class="btn toggleLinksButton pull-right p-0"><i class="fa-solid fa-greater-than fa-rotate-90"></i></button></h3>
                    <ul class="list-unstyled messages">
                        {% for channel in channels %}
                            <li>
                                <a class="channel-link btn-ci" href="{% url 'channel_posts' channel.id %}">#{{channel.name}}<span class="pull-right"> <i class="fa-regular fa-message"></i>13</span></a>
                            </li>
                        {% endfor %}                        
                    </ul>
                </div>
            </div> 
        </div>
    </div>

    <div id="channel-posts" class="posts-container w-100  flex-column justify-content-between">
        
    </div>
    <div id='post-comments' class ="comments-container flex-column justify-content-between">

    </div>

</div>
{% endblock %}


{% block postloadjs %}
    <script src="{% static 'group_chat/js/config.js' %}"></script>
    <script src="{% static 'group_chat/js/tam-emoji.js' %}"></script>
    <script src="{% static 'group_chat/js/utils.js' %}"></script>
    <script src="{% static 'group_chat/js/summernote.js' %}"></script>
    <script src="{% static 'group_chat/js/postsAndComments.js' %}"></script>
    <script src="{% static 'group_chat/js/channels.js' %}"></script>


    <script>     

    $(document).ready(function() {
        
        {% if last_viewed_channel_id %}
            if(window.innerWidth > 575){
                let url = `{% url 'channel_posts' last_viewed_channel_id %}`
                getRequestToDjango('#channel-posts', url)
                $('#channel-posts').addClass('d-flex');
            }
        {% endif %}

        //url for emojis spritesheet
        
        EmojiPicker.emojiSource = "{% static 'group_chat/tam-emoji/img' %}";

    });

    </script>

{% endblock %}