{% load static %}
{% load emoji_tags %}
<div class="posts-mobile-header border-bottom custom-box d-flex d-sm-none d-lg-none flex-dir-row">
    <button class="btn posts-close-btn"><i class="fa-solid fa-x" style="color: var(--ci-orange);"></i></button>
    <div class="ml-3 my-0">
        <h4>Posts</h4>
        <p>Posts in {{ channel.name }}</p>
    </div>
</div>
{% if messages %}
    <div class="notification">
        <ul class="notification-messages">
            {% for message in messages %}
                <li class="message-item {{ message.tags }} d-none">{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}


<div id="for-emoji-picker" class="scrollable-div">

   
    {% for single_post in posts %}
    <!--- \\\\\\\Post-->
    <div class="card gedf-card" data-post-id = '{{ single_post.id }}' data-post-url = "{% url 'channel_posts' channel.id %}">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="mr-2">
                        {% if single_post.created_by.user_profile and single_post.created_by.user_profile.profile_picture %}
                            <img  class="rounded-circle" width="45"  src="{{ single_post.created_by.user_profile.profile_picture.url }}" alt="Profile Picture">
                        {% else %}
                            <img  class="rounded-circle" width="45" src="{% static 'noimage.png' %}" alt="Profile Picture Placeholder">
                        {% endif %}                    
                    </div>
                    <div class="ml-2 ">
                        <div class="h5 m-2">{{ single_post.created_by }}</div>
                        <div class="text-muted h7 ml-2"> <i class="fa fa-clock-o"></i>{{ single_post.created_date|date:"H:i" }}</div>
                    </div>
                </div>
                <div>
                    <div class="dropdown">
                        <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-ellipsis-h"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right custom-box" aria-labelledby="gedf-drop1">
                            <button class="dropdown-item btn-ci">Delete</button>
                            <button class="dropdown-item btn-ci">Save</button>
                            <button class="dropdown-item btn-ci edit-btn">Edit</buttton>
                            <button class="dropdown-item btn-ci">Report</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="card-text">
                {{ single_post.post|safe }}
            </div>
            {% if single_post.images %}
                <div class="post-images">
                    {% for image_url in single_post.get_image_urls %}
                    {% if image_url %}
                        <img src= "{{ image_url }}">
                    {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="card-footer d-flex justify-content-between align-items-center">
            <div id="post-emoji" class="card-link">
                <ul class="list-inline m-0 p-0 emoji-list{{ single_post.id }}">
                    <a data-post-id="{{ single_post.id }}" href="" class="post-emoji-btn card-link"><i class="fa-regular fa-face-smile fa-lg" style="color: #f58a32;"></i><i class="smiley-plus-icon fa-solid fa-plus fa-xs"></i></a>
                
                    <!-- Loop through your emojis and generate list items -->
                    {% for emoji in single_post.emojis.all %}
                    <li class="list-inline-item mr-2">
                        <button class="added-emoji-btn btn" data-post-url="{% url 'post_emoji' single_post.id %}" data-post-emoji-list=".emoji-list{{ single_post.id }}" data-target="#emojiModal{{ emoji.id }}" data-emoji-code="{{ emoji.emoji_colon_name }}">
                        {{ emoji.emoji_colon_name|emoji_replace }}
                        <span>
                            {% if emoji.users_who_incremented.all|length > 1 %}
                                {{ emoji.users_who_incremented.all|length }}
                            {% endif %}
                        </span>
                        </button>
                        <!-- Small Box Modal -->
                        <div class="emoji-user-count-modal d-none" id="emojiModal{{ emoji.id }}">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="emojiModalLabel">{{ emoji.emoji_colon_name|emoji_replace }}</h5>
                                    </div>
                                    <div class="modal-body">
                                        <p> {% for emoji_creators in emoji.users_who_incremented.all %}
                                                {{ emoji_creators }}
                                            {% if emoji.users_who_incremented.all|length == 2 and forloop.counter == 1 %}
                                                and 
                                            {% elif emoji.users_who_incremented.all|length > 2 %}
                                                {% if forloop.counter < emoji.users_who_incremented.all|length|add:"-1" %}
                                                    ,
                                                {% else %}
                                                    and
                                                {% endif %}
                                            {% endif %}                                        
                                              
                                            {% endfor %}
                                            reacted with  {{ emoji.emoji_colon_name }}</p>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    
                    {% endfor %}
                </ul>
            </div>
            <a href="{% url 'post_comments' single_post.id %}" class="card-link comments-link">

                <ul class="profile-pics">
                    {% for post_id, data in post_comments_users.items %}
                        {% if post_id == single_post.id %}
                            {% for user in data.commented_users %}
                                <li class="list-inline-item">
                                    {% if user.userprofile %}
                                        {% if user.userprofile.profile_picture %}
                                            <img class="rounded-circle" width="20" src="{{ user.userprofile.profile_picture.url }}" alt="Profile Picture">
                                        {% else %}
                                            <img class="rounded-circle" width="20" src="{% static 'noimage.png' %}" alt="Profile Picture Placeholder">
                                        {% endif %}
                                    {% endif %}
                                </li>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </ul>
                {% if single_post.latest_comment %}
                    <span class="comment-date">{{ single_post.latest_comment.created_date }}</span>
                    <span class="view-comments">View Comments</span>
                {% else %}
                    <span class="view-comments d-flex">Reply</span>
                {% endif %}
            </a>
        </div>
        
    </div>
    {% endfor %}
    <!-- Post /////-->
</div>


    {% if not request.user in channel_users %}
        <!-- Button to add channel -->
        <div id="overlay">
            <form method="post" 
            action="{% url 'add_user_to_channel' channel_id=channel.id user_id=user.id %}" 
            class="vh-100 d-flex justify-content-center align-items-center" 
            id="add-user-form">
                {% csrf_token %}
                <!-- Your form fields go here -->
                <button type="submit" class="btn btn-primary">Join Channel</button>
            </form>

        </div>
    {% endif %}


<div class="post-summernote d-sm-flex d-lg-flex px-3 ">
        {% include 'includes/summernote.html' %}
</div>

    <!-- Your JavaScript code -->
<script>

    $(document).ready(function() {

        {% if next_page_number %}
        olderPosts = "{% url 'channel_posts' channel_id=channel.id %}?page={{ next_page_number }}"
           
        {% endif %}


        initPosts()
        emojiPostUrl = `{% url 'post_emoji' 0 %}`;
       
        // initialize summernote enhancer class
        summernoteEnhancerPosts.init('#channel-posts', `{% url 'channel_posts' channel.id %}`)
        // add channel users to the static variable in SummernoteEnhancer class
        SummernoteEnhancer.sharedChannelUsers = [
            {% for user in channel_users %}
                '{{ user.username }}',
            {% endfor %}
        ];

        htmlStructure = `
            <!-- Overlay the user can click to close the modal -->
            <div class="close-modal hide-modal"></div>

            <!-- Container for summernote editor -->
            <div class="summernote-form mb-2">
                <!-- Container for usernames list that the user can tag with @ -->
                <div class="tag-name-modal popup">
                    <ul class="channel-users d-flex flex-column ml-3 my-3"></ul>
                </div>

                <!-- Summernote editor form -->
                <form class="sn-form" method="post">
                    {% csrf_token %}
                    <textarea name="post"></textarea>

                    <!-- Buttons at the bottom of summernote editor emoji,@ and arrow for posting -->
                    <div class="summernote-btn-bottom">   
                        <div>  
                            <button class="mx-3 mt-1 emoji-popup-btn" type="button">
                                <span class="fa-regular fa-face-smile fa-lg emoji-btn" style="color: var(--ci-orange);"></span>
                            </button>
                            <button class="mx-3 at-symbol" type="button">
                                <span class="fa-solid fa-at fa-lg" style="color: var(--ci-orange);"></span>
                            </button>
                        </div>   
                        <button class="post-arrow-btn mx-3 sn-submit-btn" type="submit">
                            <span class="fa-solid fa-play fa-lg" style="color: var(--ci-orange);"></span>
                        </button>
                    </div>
                </form>
            </div>
        `;


       

        // get the channel id using django template literal which will be used in the js file and for the websocket
        channel_id = {{ channel.id }}; 
        //websocketInit(`wss://${window.location.host}/ws/channel_posts/${channel_id}/`); 
        
    });

        
</script>
