/* //////////////////////   channels styles ///////////////////////  */
/* style for channels list */
.channels-list { 
    border-right: 2px solid var(--ci-orange);
    min-width: 300px;
    background: #fcfcfc;
}

.unread-indicator {
    width: 20px;
    height: 20px;
    
}

.unread-indicator  p{
    font-size: 7px;
}

.single {
    padding: 20px 10px;
    margin: 30px 0;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.pull-right {
    float: right;
}
    
.single h3.side-title {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-size: 20px;
    color: #333;
    text-transform: uppercase; 
}
    
.single h3.side-title:after {
    content: '';
    width: 100%;
    height: 1px;
    background: #ff173c;
    display: block;
    margin-top: 6px; 
}
    
.single ul {
    margin-bottom: 0; 
}

.single li a {
    color: #666;
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 1px solid #f0f0f0;
    line-height: 40px;
    display: block;
    text-decoration: none; 
}

.single li:last-child a {
    border-bottom: 0; 
}

/* //////////////////////   Comments,Posts section styles ///////////////////////  */
.posts-container {
    position: relative;
    height: 100%;
    background-color: var(--background);
    display: none;
}

.comments-container {
    position: relative;
    display: none;
    border-left: 1px solid var(--ci-orange);
    width: 700px;
    height: 100%;
    background-color: var(--background);
}

.comments-link {
    display: flex;
    flex-direction: row;
    width: 200px;
    padding: 5px; 
    border-radius: 5px; 
    transition: background-color 0.3s ease-in-out; /* Add a smooth transition effect */
    justify-content: center;
}

.comments-link:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
    border: 1px solid #ccc; /* Add a border for the "View in Comments" link */
}

.comment-date {
    display: flex;
}
.view-comments {
    display: none;
}

.comments-link:hover .comment-date {
    display: none;
}

.comments-link:hover .view-comments {
    display: flex; 
}

.profile-pics {
    display: flex;
    gap: -10px; /* Adjust the negative gap to control the overlap amount */
}

/* posts card */
.h7 {
    font-size: 0.8rem;
}

.gedf-wrapper {
    margin-top: 0.97rem;
}

.gedf-card {
    margin: 20px 30px;
}

.post-images {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;

}

.post-images img {
    max-width: 200px;
    display: block;
    margin: 30px 5px 5px 0;
    border-radius: 10px;
}

.post-images img:hover {
    border: 2px solid var(--ci-orange);
    cursor: zoom-in;
}

/**Reset Bootstrap*/
.dropdown-toggle::after {
    content: none;
    display: none;
}


.smiley-plus-icon::before {
    color: var(--ci-orange); 
    position: relative; 
    top: -.5em; 
    left: -.5em;
    background-color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: none;
    margin: none;
}

/* added emoji users modal */
.emoji-user-count-modal {
    position: absolute;
    bottom: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.modal-header {
    display: flex;
    justify-content: center;
}

.added-emoji-btn .emoji {
    width: 25px;
    height: 25px;
}

.added-emoji-btn {
    border: 2px solid var(--ci-orange);
    border-radius: 30%;
    background-color: var(--background);
    padding: 0;
    width: 55px;
    height: 40px;
}


/* ///////////////// CSS to style the add to channel overlay  ////////////////////*/
#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black overlay */
    z-index: 10; /* Ensure it's above other elements */
    backdrop-filter: blur(5px); /* Apply the blur effect */
}

/* CSS to style the "Add Channel" button on the overlay */
#add-channel-button {
    position: absolute;
    top: 50%;
    left: 50%;
}

.modal-close{
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #ffffff !important;
    border: 2px solid #000 !important;
    border-radius: 47px;
    padding: 0px 5px !important;
    color: #000;
    font-weight: bolder;
    font-size: 16px;
    opacity: 1;
    line-height: 1.4;
}

/* //////////////////// modal for images and deleting posts ///////////////////*/
.modal {
    position: absolute;
    color:#4b5986;
    height: 100% !important;
    padding: 0 !important;
}

.modal-dialog {
    max-width: 100%;
    height: 90%;
}

.modal-open .modal {
    overflow-y:hidden;
}

.modal-open {
    padding: 0 !important;
}

.modal-content {
    width: 80%;
    height: fit-content;
    max-height: 100%;
    margin: 0 auto;
}

.modal.show .modal-dialog {
    width: 100%;
}

.modal-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y:auto;
    overflow-x:auto;

}

.modal-content img {
    height: auto;
}

.zoom-in,.zoom-out {
    background-color: #bab6b6;
    border-radius: 20px;
}

.zoom-in {
    border-left: 1px solid rgb(80, 77, 77);
    border-right: none;
}
.zoom-out {
    border-right: 1px solid rgb(80, 77, 77);
}

.btn-oval{
    background: linear-gradient(#889ad6, #626f9a, #3d486d);
    color: #fff;
    border-radius: 20px;
    padding: 0.5em 2em;
    font-size: 18px;
    border: 2px solid #4b5986;
    transition: all .3s ease-in-out;
}

.btn-oval:hover,.btn-oval:focus{
    background: linear-gradient(#889ad6, #626f9a);
    color: #fff;
    border-color: #626f9a !important;
    transition: all .3s ease-in-out;
}


/* /////////////////////// media queries ///////////////////////// */
/* CSS for small screens (up to the "lg" breakpoint) */
@media (max-width: 575.98px) {
    /* style for channels list */
    .channels-list { 
        margin: 0 auto;
        height: 100vh;
        border-right: none;
        width: 100%;
        padding: 100px 50px;
        text-align: center;
    }
    

    .hide {
        display: none;
    }

    
    .channels-list {
        padding: 0 0;
       }

}

@media (max-width: 991.98px) {
    .gedf-main {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .gedf-card {
        margin-bottom: 2.77rem;
        margin: 20px 5px;

    }

    .comments-container {
        
        border-left: none;
        width: 130%;
    }
}

@media (max-width: 1110px) {
    .comments-container {
        width: 100%;
    }
}




