{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}

    <link rel="stylesheet" href="{% static 'channels/css/channels.css' %}">

{% endblock %}



{% block content %}
<div class="scrollable-div d-flex justify-content-center w-90 bg-white align-items-center posts">
    <!-- list for channels posts -->
    <ul class="list-unstyled">
        {% for single_post in posts %}
        <li class="post-item">
            <div class="post-header">
                <h3>{{ single_post.created_by }}</h3>
                <p>{{ single_post.created_date }}</p>
            </div>
            <div class="post-content">
                <p>{{ single_post.post|safe }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

{% if not request.user in channel_users %}
    <!-- Button to add channel -->
    <div id="overlay">
        <!-- add_user_to_channel.html -->
        <a href="{% url 'add_user_to_channel' channel_id=channel.id user_id=user.id %}" id="add-channel-button" class="btn btn-primary">
            Add to Channel
        </a>
    </div>
{% endif %}

{% endblock %}

{% block page_footer %}
    {% include 'includes/summernote.html' %}
{% endblock %}


{% block postloadjs %}    

    <script src="{% static 'channels/js/channels.js' %}"></script>

    
{% endblock %}