* {
    margin: 0;
    padding: 0;
}

/* Style for the sticky bottom navigation */
.tabs-nav {
    width: 100%;
    background-color: #333;
    color: #fff;
    z-index: 100; 
}

/* Style for the navigation links */
.nav-link {
    color: #fff; 
}
body {
    background-color: paleturquoise;
}
header {
    background-color: blueviolet;
}
#topnav {
    background-color: brown;
}


/* CSS for small screens (up to the "lg" breakpoint) */
@media (max-width: 992px) {
 
      /* Style for the sticky bottom navigation */
.tabs-nav {
    position: fixed;
    bottom: 0;
    top:auto;
    }
}
  