{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">

{% endblock %}

{% block content %}
<div class="w-100 h-100 d-flex flex-dir-row">
    <!-- container for the channels list -->
    <div id="channel-links-container" class="channels-list scrollable-div ">
        <div class="scrollable-div-inner">
            <ul class="list-unstyled">
                {% for channel in channels %}
                    <li>
                        <a class="channel-link" href="{% url 'channel_posts' channel.id %}">#{{channel.name}}</a>
                        <p>{{ channel.description }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div id="channel-posts" class="posts-container w-100 d-none d-sm-flex d-lg-flex flex-column">
       
    </div>
    <div id='post-comments' class ="comments-container flex-column">

    </div>

</div>
{% endblock %}


{% block postloadjs %}

    <script src="{% static 'home/js/home.js' %}"></script>

    <script>     
      // Use the ready function to execute code when the DOM is fully loaded
        
        // Click event for the button
        $(".channel-link").click(function(event) {
            event.preventDefault();
            getRequestToDjamgo(event, '#channel-posts')
            if(window.innerWidth < 575){
                $('#channel-posts').toggleClass('d-flex');
                $('#channel-links-container').toggleClass('hide');
                $('#nav-bar').addClass('d-none')
                $('header').addClass('d-none')

            }
            $('#post-comments').removeClass('d-flex');

        });

        {% if last_viewed_channel_id %}
            if(window.innerWidth > 575){
                getRequestToDjamgo(event, '#channel-posts',`{% url 'channel_posts' last_viewed_channel_id %}`)
            }
        {% endif %}
    </script>

{% endblock %}