{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
   
{% endblock %}

{% block content %}
<div class="w-100 h-100 d-flex flex-dir-row">
<!-- container for the channels list -->
    <div id="channel-links-container" class="channels-list scrollable-div ">
        <div class="scrollable-div-inner">
            <ul class="list-unstyled">
                {% for channel in channels %}
                    <li>
                        <a class="channel-link" href="{% url 'channel_posts' channel.id %}">#{{channel.name}}</a>
                        <p>{{ channel.description }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div id="channel-posts" class="posts-container w-100 d-flex flex-column justify-content-between">
       
    </div>
    <div id ='post-comments' class ="comments-container d-flex flex-column justify-content-between">

    </div>

</div>
{% endblock %}


{% block postloadjs %}

    {% if channel.id %}
        <script>     
              
            // get the channel id using django template literal which will be used in the js file 
            // if the channel.id exists
            let channel_id = {{ channel.id }};
        </script>
        <script src="{% static 'home/js/home.js' %}"></script>

    {% endif %}

    <!-- Your JavaScript code -->
<script>
  $(document).ready(function() {
    
    
    // Click event for the button
    $(".channel-link").click(function(event) {
      // // Get CSRF token from the cookie
      // const csrftoken = $("[name=csrfmiddlewaretoken]").val();
      event.preventDefault();
      const url = event.currentTarget.href;

      // AJAX request
      $.ajax({
        type: "GET",
        url: url,
        success: function(response) {
          // Update the div with the returned template
          $("#channel-posts").html(response);

        },
        error: function(error) {
          console.log("Error:", error);
        }
      });
    });
  });

  </script>
  

{% endblock %}