{% load static %}
<div class="comments-header border-bottom custom-box d-flex d-sm-none d-lg-none flex-dir-row">
    <button class="btn posts-close-btn"><i class="fa-solid fa-x" style="color: var(--ci-orange);"></i></button>
    <div class="ml-3 my-0">
        <h4>Posts</h4>
        <p>Posts in {{ channel.name }}</p>
    </div>
</div>


<div class="scrollable-div w-100 bg-white">
    <!-- list for channels posts -->
    <ul id="posts-ul" class="list-unstyled mx-auto">
        {% for single_post in posts %}
        <li class="post-item mx-auto">
            <div class="post-header d-flex flex-dir-row">
            {% if single_post.created_by.user_profile and single_post.created_by.user_profile.profile_picture %}
                <img src="{{ single_post.created_by.user_profile.profile_picture.url }}" alt="Profile Picture">
            {% else %}
                <img src="{% static 'noimage.png' %}" alt="Profile Picture Placeholder">
            {% endif %}                    
                <h5>{{ single_post.created_by }}</h3>
                <p class="ml-3">{{ single_post.created_date|date:"H:i" }}</p>
            </div>
            <div class="post-content">
                <p>{{ single_post.post|safe }}</p>
            </div>
            <a class="comments-link" href="{% url 'post_comments' single_post.id %}">Comments</a>
        </li>
        {% endfor %}
    </ul>
</div>

{% if not request.user in channel_users %}
    <!-- Button to add channel -->
    <div id="overlay">
        <!-- add_user_to_channel.html -->
        <a href="{% url 'add_user_to_channel' channel_id=channel.id user_id=user.id %}" id="add-channel-button" class="btn btn-primary">
            Add to Channel
        </a>
    </div>
{% endif %}


<div class="post-summernote d-sm-flex d-lg-flex">
        {% include 'includes/summernote.html' %}
</div>



    <!-- Your JavaScript code -->
<script>
    $(document).ready(function() {
        // Click event for the button
        $(".posts-close-btn").click(function(event) {
            $('#channel-posts').toggleClass('d-flex');
            $('#channel-links-container').toggleClass('hide');
            $('#nav-bar').removeClass('d-none')
            $('header').removeClass('d-none')
        });


        $(".comments-link").click(function(event) {
            event.preventDefault();
            let url = event.target.href
            getRequestToDjamgo('#post-comments', url);
            if(window.innerWidth < 575){
                  $('#channel-posts').toggleClass('d-flex');
                  $('.back-btn').removeClass('d-none')
              }
              $('#post-comments').addClass('d-flex');
        });

        summernoteEnhancerPosts.init('#channel-posts', `{% url 'channel_posts' channel.id %}`)
        SummernoteEnhancer.sharedChannelUsers = [
            {% for user in channel_users %}
                '{{ user.username }}',
            {% endfor %}
        ];
        //scroll to bottom of the posts
        $('#channel-posts .scrollable-div').animate({ scrollTop: $('.scrollable-div')[1].scrollHeight }, 'slow');

        // get the channel id using django template literal which will be used in the js file and for the websocket
        channel_id = {{ channel.id }}; 
        //websocketInit(`wss://${window.location.host}/ws/channel_posts/${channel_id}/`); 

    });


        
  </script>
