{% load static %}
<div class="posts-mobile-header border-bottom custom-box d-flex d-sm-none d-lg-none flex-dir-row">
    <button class="btn posts-close-btn"><i class="fa-solid fa-x" style="color: var(--ci-orange);"></i></button>
    <div class="ml-3 my-0">
        <h4>Posts</h4>
        <p>Posts in {{ channel.name }}</p>
    </div>
</div>
{% if messages %}
    <div class="notification">
        <ul class="notification-messages">
            {% for message in messages %}
                <li class="message-item {{ message.tags }} d-none">{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}



    <div class="scrollable-div w-100 bg-white">
        {% for single_post in posts %}
        <!--- \\\\\\\Post-->
        <div class="card gedf-card">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="mr-2">
                            {% if single_post.created_by.user_profile and single_post.created_by.user_profile.profile_picture %}
                            <img  class="rounded-circle" width="45"  src="{{ single_post.created_by.user_profile.profile_picture.url }}" alt="Profile Picture">
                        {% else %}
                            <img  class="rounded-circle" width="45" src="{% static 'noimage.png' %}" alt="Profile Picture Placeholder">
                        {% endif %}                    
                        </div>
                        <div class="ml-2 d-flex flex-dir-row">
                            <div class="h5 m-0">{{ single_post.created_by }}</div>
                            <div class="text-muted h7 ml-2"> <i class="fa fa-clock-o"></i>{{ single_post.created_date|date:"H:i" }}</div>
                        </div>
                    </div>
                    <div>
                        <div class="dropdown">
                            <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-ellipsis-h"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                                <div class="h6 dropdown-header">Configuration</div>
                                <a class="dropdown-item" href="#">Save</a>
                                <a class="dropdown-item" href="#">Hide</a>
                                <a class="dropdown-item" href="#">Report</a>
                            </div>
                        </div>
                    </div>
                  
                </div>

            </div>
            <div class="card-body">
                <p class="card-text">
                    {{ single_post.post|safe }}
                </p>
                {% if single_post.images %}
                    <div class="post-images">
                        {% for image_url in single_post.get_image_urls %}
                        {% if image_url %}
                            <img src= "{{ image_url }}">
                        {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="card-footer">
                <a href="#" class="card-link"><i class="fa fa-gittip"></i> Like</a>
                <a href="{% url 'post_comments' single_post.id %}" class="card-link"><i class="fa fa-comment"></i> Comment</a>
                <a href="#" class="card-link"><i class="fa fa-mail-forward"></i> Share</a>
            </div>
        </div>
        {% endfor %}
        <!-- Post /////-->
    </div>



    {% if not request.user in channel_users %}
        <!-- Button to add channel -->
        <div id="overlay">
            <form method="post" 
            action="{% url 'add_user_to_channel' channel_id=channel.id user_id=user.id %}" 
            class="vh-100 d-flex justify-content-center align-items-center" 
            id="add-user-form">
                {% csrf_token %}
                <!-- Your form fields go here -->
                <button type="submit" class="btn btn-primary">Join Channel</button>
            </form>

        </div>
    {% endif %}


<div class="post-summernote d-sm-flex d-lg-flex px-3">
        {% include 'includes/summernote.html' %}
</div>

    <!-- Your JavaScript code -->
<script>

    $(document).ready(function() {
        // Click event for the close posts button
        $(".posts-close-btn").click(function(event) {
            $('#channel-posts').toggleClass('d-flex');
            $('#channel-links-container').toggleClass('hide');
            $('#nav-bar').removeClass('d-none')
            $('header').removeClass('d-none')
        });

        //add user form event listener
        $("#add-user-form").submit(function(event) {
            event.preventDefault();
            //get csrf token from the form
            let csrftoken = $(this).find('input[name="csrfmiddlewaretoken"]').val();
            let url = $(this).attr('action');
            // function in home.js to send post request to add user
            addUserPostRequest(url, csrftoken);
        });

        //event listener for the comments links on each post
        $(".comments-link").click(function(event) {
            event.preventDefault();
            let url = event.target.href
            getRequestToDjamgo('#post-comments', url);
            if(window.innerWidth < 575){
                $('#channel-posts').toggleClass('d-flex');
                $('.back-btn').removeClass('d-none')
            }
            $('#post-comments').addClass('d-flex');
        });

       
        // initialize summernote enhancer class
        summernoteEnhancerPosts.init('#channel-posts', `{% url 'channel_posts' channel.id %}`, )
        // add channel users to the static variable in SummernoteEnhancer class
        SummernoteEnhancer.sharedChannelUsers = [
            {% for user in channel_users %}
                '{{ user.username }}',
            {% endfor %}
        ];

        //scroll to bottom of the posts
        $('#channel-posts .scrollable-div').animate({ scrollTop: $('.scrollable-div')[1].scrollHeight }, 'slow');

        // get the channel id using django template literal which will be used in the js file and for the websocket
        channel_id = {{ channel.id }}; 
        //websocketInit(`wss://${window.location.host}/ws/channel_posts/${channel_id}/`); 
        
    });


        
  </script>
