   <!-- Bottom Navigation -->
   <nav id="tabs-nav" class="navbar navbar-expand mx-auto navbar-dark bg-dark tabs-nav">
    <ul class="navbar-nav flex-fill mx-3 px-3 list-inline d-flex justify-content-between">
        <li class="nav-item text-center">
            <a class="nav-link" href="#channels">
                <i class="fas fa-hashtag"></i> Channels
            </a>
        </li>
        <li class="nav-item text-center">
            <a class="nav-link" href="#messages">
                <i class="fas fa-envelope"></i> Messages
            </a>
        </li>
        <li class="nav-item text-center">
            <a class="nav-link" href="#profile">
                <i class="fas fa-user"></i> Profile
            </a>
        </li>
    </ul>
</nav>

