   <!-- Bottom Navigation -->

   {% with request.resolver_match.url_name as url_name %}
   <nav id="tabs-nav" class="navbar navbar-expand w-100 navbar-dark bg-dark ">
    <ul class="navbar-nav flex-fill mx-3 px-3 list-inline d-flex justify-content-between">
        <li class="nav-item text-center">
            <a class="nav-link {% if url_name == 'home' %} active {% endif %}" href="{% url 'home' %}">
                <i class="fas fa-home"></i> Home
            </a>
        </li>
        <li class="nav-item text-center">
            <a class="nav-link {% if url_name == 'messages' %} active {% endif %}" href="#messages">
                <i class="fas fa-envelope"></i> Messages
            </a>
        </li>
        <li class="nav-item text-center">
            <a class="nav-link {% if url_name == 'user_profile' %} active {% endif %}" href="{% url 'user_profile' %}">
                <i class="fas fa-user"></i> Profile
            </a>
        </li>
        {% endwith %}
    </ul>
</nav>

