   <!-- Bottom Navigation -->
   <nav class="navbar navbar-expand mx-auto navbar-dark bg-dark tabs-nav">
    <ul class="navbar-nav flex-fill mx-3 px-3 list-inline d-flex justify-content-between">
        <li class="nav-item text-center">
            <a class="nav-link" href="#">
                <i class="fas fa-home"></i> Home
            </a>
        </li>
        <li class="nav-item text-center">
            <a class="nav-link" href="#">
                <i class="fas fa-envelope"></i> Messages
            </a>
        </li>
        <li class="nav-item text-center">
            <a class="nav-link" href="#">
                <i class="fas fa-user"></i> Profile
            </a>
        </li>
    </ul>
</nav>

<!-- <ul class="nav nav-tabs" id="myTabs" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="tab1-tab" data-bs-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">Tab 1</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="tab2-tab" data-bs-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">Tab 2</a>
    </li>
    Add more tabs as needed
</ul>
<div class="tab-content" id="myTabsContent">
    <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
         Content for Tab 1 
    </div>
    <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
      
    </div>
    
</div>

<script>
    // Initialize the Bootstrap tab component
    $('#myTabs').tab('show');
</script> -->