        <div class="close-modal hide-modal"></div>

<!-- container for summernote editor -->
<div class="posts-form">
    <!-- pop up for emoji's -->
    <div id="emoji-modal" class="popup">
        <ul class="emoji-header list-inline d-flex justify-content-between mx-3 my-3 flex-wrap"></ul>
        <hr>
        <ul class="emoji-body list-unstyled"></ul>
    </div>
    <!-- container for usernames list that the user can tag with @ -->
    <div id="tag-name-modal" class="popup">
        <ul class="channel-users d-flex flex-column ml-3 my-3">
           
        </ul>
    </div>
    <!-- summernote editor form -->
    <form method="post">
        {% csrf_token %}
        
        <div class="form">

            {{ form.media }} {# Include Summernote media files #}
            {{ form.as_p }}

        </div>
        <!-- buttons at the bottom of summernote editor emoji,@ and arrow for posting -->
        <div class="summernote-btn-bottom">   
            <div>  
                <button class="mx-3 mt-1" type="button" id="emoji-popup-btn"><span class="fa-regular fa-face-smile fa-lg emoji-btn" style="color: var(--ci-orange);"></span></button>
                <button class="mx-3" type="button" id="at-symbol"><span class="fa-solid fa-at fa-lg" style="color: var(--ci-orange);"></span></button>
            </div>   
            <button id="sn-submit-btn" class="post-arrow-btn mx-3" type="submit"><span class="fa-solid fa-play fa-lg" style="color: var(--ci-orange);"></span></button>
        </div>
    </form>
</div>

{% block postloadjs %}

<script type="text/javascript">
    let channelUsers = [
        {% for user in channel_users %}
            "{{ user.username }}",
        {% endfor %}
    ];
</script>
{% endblock %}