<div class="close-modal hide-modal"></div>

<!-- container for summernote editor -->
<div class="summernote-form">
    <!-- pop up for emoji's -->
    <div class="emoji-modal popup">
        <ul class="emoji-header list-inline d-flex justify-content-between mx-3 my-3 flex-wrap"></ul>
        <hr>
        <ul class="emoji-body list-unstyled"></ul>
    </div>
    <!-- container for usernames list that the user can tag with @ -->
    <div class="tag-name-modal popup">
        <ul class="channel-users d-flex flex-column ml-3 my-3">
            
        </ul>
    </div>
    <!-- summernote editor form -->
    <form class="sn-form" method="post">
        {% csrf_token %}
        <textarea name="post"></textarea>
        <div class="form">


        </div>
        <!-- buttons at the bottom of summernote editor emoji,@ and arrow for posting -->
        <div class="summernote-btn-bottom">   
            <div>  
                <button class="mx-3 mt-1 emoji-popup-btn" type="button" ><span class="fa-regular fa-face-smile fa-lg emoji-btn" style="color: var(--ci-orange);"></span></button>
                <button class="mx-3 at-symbol" type="button"><span class="fa-solid fa-at fa-lg" style="color: var(--ci-orange);"></span></button>
            </div>   
            <button class="post-arrow-btn mx-3 sn-submit-btn" type="submit"><span class="fa-solid fa-play fa-lg" style="color: var(--ci-orange);"></span></button>
        </div>
    </form>
</div>
