/* //////////////////////   Posts section styles /////////////////////// */

/* makes divs scrollable */
.scrollable-div {
    /* Enable vertical scrolling */
    overflow-y: auto;
}

p {
    margin-bottom: .5rem;
}

.posts {
    position: relative;
    width: 100%;
    top: 60px;
    height: 70vh;
    
}

/* Style for the post item */
.post-item {
    border: 1px solid #ddd;
    padding: 5%;
    margin: 5px 0;
    margin-left: 5px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    height: fit-content;  
    width: 85vw; 
    overflow-wrap: break-word;
}

.inner {
    height: fit-content;
    padding: 15px 0;
}

/* Style for the post header (user name and date) */
.post-header {
    align-items: baseline;
}

.post-header p {
    font-size: smaller;
}

/* Style for the post content */
.post-content {
    font-size: 1em;
    width: 100%;
}

/* post images */
.post-content p img {
    width: 30px;
    height:30px;
}

/* CSS to style the overlay */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black overlay */
    z-index: 10; /* Ensure it's above other elements */
    backdrop-filter: blur(5px); /* Apply the blur effect */
    
}

/* CSS to style the "Add Channel" button on the overlay */
#add-channel-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #007bff; /* Blue color for the button */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

