{% load static %}
{% load emoji_tags %}

<!-- Mobile header -->
<div class="p-2 custom-box d-flex d-lg-none flex-dir-row align-items-center">
    <!-- Close button -->
    <button class="btn close-messages-btn position-absolute d-lg-none "><i class="fa-solid fa-x" style="color: var(--ci-orange);"></i></button>
    
        {% if sender == user %}
        <img class="ml-5 p-1 img-circle profile-pic-medium profile-pic" src="
        {% if message.receiver.userprofile and message.receiver.userprofile.profile_picture %}
        {{ receiver.userprofile.profile_picture.url }}
        {% else %}
        {% static 'noimage.png' %}
        {% endif %}
        " alt="Profile Picture"
        data-url="{% url 'view_user_profile' receiver.userprofile.id %}">
        <h4 class="ml-3 w-100">{{ receiver.username }} </h4>
        {% else %} 
        <img class="ml-5 p-1 img-circle profile-pic-medium  profile-pic" src="
        {% if message.sender.userprofile and message.sender.userprofile.profile_picture %}
        {{ sender.userprofile.profile_picture.url }}
        {% else %}
        {% static 'noimage.png' %}
        {% endif %}
        " alt="Profile Picture"
        data-url="{% url 'view_user_profile' sender.userprofile.id %}">
        <h4 class="ml-3 w-100">{{ sender.username }} </h4>
        {% endif %} 
</div>


<!-- message list populated by Django -->
<div id="message-list" class="scrollable-div py-3" data-user="{{ user }}">
    {% if messages %}

    {% for message in messages %}
        {% if message.sender == user %}    
        <div class="message my-message" data-url="{% url 'edit_message' message_id=message.id %}">
            {% if message.sender.userprofile and message.sender.userprofile.profile_picture %}
                <img class="img-circle medium-image" src="{{ message.sender.userprofile.profile_picture.url }}" alt="Profile Picture">
            {% else %}
                <img class="img-circle medium-image" src="{% static 'noimage.png' %}" alt="Profile Picture Placeholder">
            {% endif %}
            <div class="message-body">
                <div class="message-body-inner">
                    <div class="message-info">
                        <h4>{{ message.sender.username }} </h4>
                        <h5> <i class="fa fa-clock-o"></i>{{ message.timestamp|date:"H:i, b j"|upper }}</h5>                     
                    
                        <div class="dropdown message-dropdown">
                            <button class="btn btn-link dropdown-toggle p-0" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-ellipsis-h"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right p-0">
                                <div class="links-container m-0 p-0">
                                    <div class="links-heading">Menu <i class="fa fa-link fa-1x"></i></div>
                                    <div class="links-body pb-2">
                                        <button class="dropdown-item btn-ci edit-btn">Edit</button>
                                        <button class="dropdown-item btn-ci delete-btn" data-delete-url="{% url 'delete_obj' model='Message' pk=message.id %}">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="message-text">
                        {{ message.content|safe|emoji_replace }}
                    </div>
                    {% if message.images %}
                        <div class="message-img">
                            {% for image_url in message.get_image_urls %}
                                {% if image_url %}
                                    <img src="{{ image_url }}">
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            
                <div id="post-emoji" class="card-link message-emoji-container">
                    <ul class="list-inline m-0 p-0 emoji-list{{ message.id }}">
                        <!-- Emoji button -->
                        <a data-emoji-url="{% url 'emoji' model='Message' instance_id=message.id %}" href="" class="card-emoji-btn">
                            <i class="fa-regular fa-face-smile fa-lg" style="color: #f58a32;"></i>
                        </a>
                        <!-- Loop through emojis and generate list items -->
                        {% for emoji in message.emojis.all %}
                            <li class="list-inline-item mr-2">
                                <button class="added-emoji-btn btn {{ emoji.emoji_colon_name|slice:'1:-1' }}" 
                                        data-emoji-url="{% url 'emoji' model='Message' instance_id=message.id %}"  
                                        data-target="#emojiModal{{ emoji.id }}" 
                                        data-emoji-code="{{ emoji.emoji_colon_name }}">
                                    {{ emoji.emoji_colon_name|emoji_replace }}
                                    <span>
                                        {% if emoji.users_who_incremented.all|length > 1 %}
                                            {{ emoji.users_who_incremented.all|length }}
                                        {% endif %}
                                    </span>
                                </button>
                                <!-- Small box modal when a user hovers over an emoji -->
                                <div class="emoji-user-count-modal d-none" id="emojiModal{{ emoji.id }}">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="emojiModalLabel">{{ emoji.emoji_colon_name|emoji_replace }}</h5>
                                            </div>
                                            <div class="modal-body">
                                                <p>
                                                    {% for emoji_creators in emoji.users_who_incremented.all %}
                                                        {{ emoji_creators }}
                                                        {% if emoji.users_who_incremented.all|length == 2 and forloop.counter == 1 %}
                                                            and 
                                                        {% elif emoji.users_who_incremented.all|length > 2 %}
                                                            {% if forloop.counter < emoji.users_who_incremented.all|length|add:"-1" %}
                                                                ,
                                                            {% else %}
                                                                and
                                                            {% endif %}
                                                        {% endif %}                                        
                                                    {% endfor %}
                                                    reacted with  {{ emoji.emoji_colon_name }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <br>
            
        </div>      
            
        {% else %}
        <div class="message info">
            {% if message.sender.userprofile and message.sender.userprofile.profile_picture %}
                <img class="img-circle medium-image" src="{{ message.sender.userprofile.profile_picture.url }}" alt="Profile Picture">
            {% else %}
                <img class="img-circle medium-image" src="{% static 'noimage.png' %}" alt="Profile Picture Placeholder">
            {% endif %}
            <div class="message-body">
                <div class="message-info">
                    <h4> {{ message.sender.username }} </h4>
                    <h5> <i class="fa fa-clock-o"></i> {{ message.timestamp|date:"H:i, b j"|upper }}</h5>
                    <!-- Dropdown menu -->
                </div>
                <hr>
                <div class="message-text">
                    {{ message.content|safe|emoji_replace }}
                </div>
                {% if message.images %}
                    <div class="message-img">
                        {% for image_url in message.get_image_urls %}
                            {% if image_url %}
                                <img class src="{{ image_url }}">
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <br>
        </div>
        {% endif %}
        <!-- Post /////-->
    {% endfor %}
    {% endif %}

</div>




<!-- JavaScript code -->
<script>
    $(document).ready(function() {
        // Check if there are older posts

        

        // // Scroll to the bottom of the posts list
        // scrollTo()
        // $('#posts-list').scroll(loadOldPosts)

        csrfToken = "{{ csrf_token }}"

        EmojiPicker.emojiSource = "{% static 'group_chat/tam-emoji/img' %}";
        // Initialize summernote enhancer class
        summernoteEnhancerPosts.init('#messages-list-container', `{% if sender == user %}
        {% url 'send_message' receiver.id %}
    
{% else %}
        {% url 'send_message' sender.id %}
{% endif %}
`,'{{ csrf_token }}')
       
    });


     // Start the WebSocket for channel posts
     startWebSocket('messaging', {{ conversation_id }})
</script>
