{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="all-auth-container h-100 w-100 scrollable-div">
    <div class="user_card">
        <div class="brand_logo_container">
            <img src="https://coursereport-s3-production.global.ssl.fastly.net/uploads/school/logo/222/original/code-20institute-20600-20logo.png" class="brand_logo" alt="Logo">
        </div>
        <div class="py-2 px-3 m-auto justify-content-between text-center">
            <h1>500 - Internal Server Error</h1>
            <hr>
            <p>Sorry, There was an internal server error. Please try again later..</p>
            <a href="{% url 'channels' %}" class="btn btn-success">Home</a>
        </div>
    </div>
</div>
{% endblock %}

